*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#can{
    border:solid black 5px;
}

#load-screen{
    margin-top: 2.5px;
    margin-left: 2.5px;
    width: 495px;
    height: 500px;
    background-color: aliceblue;
    position :absolute;
    z-index: 2
}
#current-score{
    margin-top: 2.5px;
    margin-right: 2.5px;
    width:100px;
    height: 40px;
    position:fixed;
    top: 0px;
    left: 400px;
    z-index: 1;
    background-color: red;
}

#score-screen{
    margin-top: 2.5px;
    margin-left: 2.5px;
    width: 495px;
    height: 500px;
    background-color: aliceblue;
    position :absolute;
    z-index: 2
}

.remove-load-screen {
    visibility: hidden;
}