*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#can{
    border:solid black 5px;
}

#load-screen{
    margin-top: 2.5px;
    margin-left: 2.5px;
    width: 495px;
    height: 500px;
    background-color: aliceblue;
    position :absolute;
    z-index: 1
}

#score-screen{
    margin-top: 2.5px;
    margin-left: 2.5px;
    width: 495px;
    height: 500px;
    background-color: aliceblue;
    position :absolute;
    z-index: 1
}

.remove-load-screen {

    visibility: hidden;
}